@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,	
.MuiTypography-root, .MuiButtonBase-root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.slider-detail {
  color: white;
}

.slick-arrow {
  display: none;
}
.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next-main {
  background: url(../../public/arrow_next.svg) !important;
  color: black;
  background-size: contain !important;
  right: 16px !important;
  z-index: 1;
  top: 106px !important;
}
.slick-prev-main {
  background: url(../../public/arrow_prev.svg) !important;
  background-size: contain !important;
  left: 16px !important;
  z-index: 1;
  top: 106px !important;
}

.slick-next-detail {
  background: url(../../public/arrow_next_w.svg) !important;
  background-size: contain !important;
  right: 16px !important;
  z-index: 1;
}
.slick-prev-detail {
  background: url(../../public/arrow_prev_w.svg) !important;
  background-size: contain !important;
  left: 16px !important;
  z-index: 1;
}

.MuiToggleButton-standard+.MuiToggleButton-standard {
  margin-left: 10px;
}

/* .cateBtns {
  -webkit-overflow-scrolling: touch;
} */

.container {
  width: 100%;
}
.container-shrink {
  overflow: hidden;
  width: calc(100% - 41px);
  height: 25px;
}

.container-expand {
  white-space: normal;
  word-wrap:break-word;
  width: calc(100% - 35px);
}

.comment-input {
  border-top: 1px solid #4A6AFE;
}