@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.MuiTypography-root,
.MuiButtonBase-root,
.MuiChip-root,
.MuiInputBase-root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  text-transform: unset
}

em {
  font-style: unset;
}

.slick-track {
  min-width: 4710px;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next-main {
  background: url(../../public/arrow_next.svg) !important;
  color: black;
  background-size: contain !important;
  right: 16px !important;
  z-index: 1;
  top: 106px !important;
}

.slick-prev-main {
  background: url(../../public/arrow_prev.svg) !important;
  background-size: contain !important;
  left: 16px !important;
  z-index: 1;
  top: 106px !important;
}

.slick-next-detail {
  background: url(../../public/arrow_next_w.svg) !important;
  background-size: contain !important;
  right: 16px !important;
  z-index: 1;
}

.slick-prev-detail {
  background: url(../../public/arrow_prev_w.svg) !important;
  background-size: contain !important;
  left: 16px !important;
  z-index: 1;
}

.cateBtns {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cateBtns::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-shrink {
  overflow: hidden;
  width: calc(100% - 41px);
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-expand {
  white-space: normal;
  word-wrap: break-word;
  width: calc(100% - 35px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comment-wrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  pointer-events: none;
}

.comment-input {
  min-height: 48px;
  border-top: 1px solid #4A6AFE;
  background-color: #FFFFFF;
  pointer-events: auto;
  padding-bottom: 40px;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  margin: 0;
  margin-top: 22px !important;
  gap: 8px !important;
  padding: 1rem 0;
  list-style-type: none;
  bottom: unset !important;
}

.slick-dots li {
  margin: 0 !important;
  height: 6px !important;
  width: auto !important;
}

.slick-dots li button {
  display: flex;
  justify-content: center;
  width: 6px !important;
  height: 6px !important;
  padding: 0 !important;
  border: none;
  border-radius: 100%;
  background-color: rgba(74, 106, 254, 0.5) !important;
  transition: all .3s;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #4A6AFE !important;
  width: 16px !important;
  border-radius: 10px;
}

.slick-dots li button:before {
  display: none;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: keep-all;
}

.z-paper {
  z-index: 1400;
}

/* testing input */
div.editor-body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: none;
  position: relative;
  box-sizing: border-box;
}

.mention-reply-section {
  /* padding: 13px 24px; */
  font-size: 14px;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 100%;
  max-height: 110px;
}

.mention-reply-section:focus {
  outline: none;
}

/* react-datepicker */
.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker {
  background-color: #fff;
  border: none !important;
  display: inline-block;
  position: relative;
  line-height: initial;
  width: 100%;
}

.react-datepicker__header {
  text-align: center;
  position: relative;
}

.react-datepicker__current-month {
  margin-bottom: 8px;
  padding: 16px 36px;
  color: #1E1E1E;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

h2.react-datepicker__current-month {
  text-align: start;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  padding: 0;
  border: none;
  z-index: 1;
  height: 24px;
  width: 24px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__month-container {
  width: inherit;
}

.react-datepicker__month {
  margin-top: 4px;
  text-align: center;
}

.react-datepicker__day-names {
  white-space: nowrap;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.react-datepicker__week {
  white-space: nowrap;
  padding: 4px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #1E1E1E;
  display: inline-block;
  width: 42px;
  line-height: 160%;
  font-size: 14px;
  text-align: center;
}

.react-datepicker__day {
  cursor: pointer;
  height: 42px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__day:hover  {
  background-color: #f0f0f0;
  border-radius: 100%;
}

.react-datepicker__day--today {
  color: #4A6AFE;
}

.react-datepicker__day--highlighted::after {
  background: #4A6AFE;
  width: 16px;
  height: 1px;
  bottom: 10px;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
  background-color: #FFF27E !important;
  color: #1E1E1E;
  border-radius: 100%;
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: rgba(255, 242, 126, 0.3);
  color: #1E1E1E;
  border-radius: 100%;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--outside-month {
  color: #C1C1C1;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
