@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,	
.MuiTypography-root, .MuiButtonBase-root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.slick-arrow {
  display: none;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

/* .slick-arrow:before{
  content:""!important;
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}*/
.slick-next-main {
  background: url(../../public/arrow_next.svg) !important;
  background-size: contain !important;
  right: 24px !important;
  z-index: 1;
  top: 106px !important;
}

.slick-prev-main {
  background: url(../../public/arrow_prev.svg) !important;
  background-size: contain !important;
  left: 24px !important;
  z-index: 1;
  top: 106px !important;
}

.slick-next {
  background: url(../../public/arrow_next.svg) !important;
  background-size: contain !important;
  right: 24px !important;
  z-index: 1;
  /* top: 106px !important; */
}

.slick-prev {
  background: url(../../public/arrow_prev.svg) !important;
  background-size: contain !important;
  left: 24px !important;
  z-index: 1;
  /* top: 106px !important; */
}

.MuiToggleButton-standard+.MuiToggleButton-standard {
  margin-left: 10px;
}

.cateBtns {
  -webkit-overflow-scrolling: touch;
}

.cateInfo, 
.cateInfo:disabled, .cateInfo[disabled] {
  /* font-size: 14px !important; */
  font-size: 12px !important;
  line-height: 150%;
  color: #1E1E1E !important;
  border: 0.5px solid #C1C1C1 !important;
  border-radius: 20px !important;
  padding: 2px 8px;
}

.postCate, .postCate[disabled] {
  font-size: 14px !important;
  line-height: 150%;
  color: #1E1E1E !important;
  border: 0.5px solid #C1C1C1 !important;
  border-radius: 20px !important;
  padding: 2px 8px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.container {
  width: 100%;
}
.container-shrink {
  overflow: hidden;
  width: calc(100% - 41px);
  height: 25px;
}

.container-expand {
  white-space: normal;
  word-wrap:break-word;
  width: calc(100% - 35px);
}

.tagBtn {
  font-size: 12px !important;
  line-height: 150%;
  color: #1E1E1E !important;
  border-radius: 2px !important;
  background-color: #ECECEC;
  padding: 2px 4px;
  min-width: unset;
}

.tagBtn:not(:last-child) {
  margin-right: 10px;
}

.comment-input {
  border-top: 1px solid #4A6AFE;
  border-bottom: 1px solid #C1C1C1;
}

.comment-btn {
  border: 0.5px solid #C1C1C1;
  padding: 2px 4px;
  color: #1E1E1E;
  min-width: unset;
}